@font-face {
    font-family: 'Transformers';
    src: url('F:/Website/transformers_movie.ttf') format('truetype');
}

body {
    color: #ff0000; /* Neon red text color */
    font-family: 'Transformers', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible; /* Visible overflow to allow scroll bars */
    position: relative; /* Position relative for pseudo-element */

    background-image: linear-gradient(#000000 2px, transparent 2px), 
                      linear-gradient(to right, #000000 2px, #190000 2px);
    background-size: 50px 50px;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    pointer-events: none;
}

header {
    width: 100%;
    padding: 1em;
    background-color: #1a1a1a;
    text-align: right;
    border-bottom: 2px solid #ff0000;
    position: fixed; /* Make the header fixed */
    top: 0;
    z-index: 10; /* Ensure the header is on top */
    animation: border-glitch 10s ease-in-out infinite alternate;
}

.top-right {
    position: fixed; /* Make the top-right section fixed */
    top: -0.6em; /* Adjust as necessary */
    left: 50px; /* Adjust as necessary */
    font-family: 'Transformers', sans-serif;
    color: #000000;
    font-size: 5em;
    z-index: 15; /* Ensure the top-right section is on top */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 1em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    animation: neon 1.5s ease-in-out infinite alternate;
}

nav a:hover {
    color: #ffffff;
}

section {
    padding: 2em;
    width: 80%;
    max-width: 800px;
    border-bottom: 2px solid #ff0000;
    margin-bottom: 2em;
    margin-top: 8em; /* Add margin to prevent content from being hidden under the fixed header */
}

.project {
    background-color: #1a1a1a;
    padding: 1em;
    border: 1px solid #ffffff;
    margin-bottom: 1em;
    box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.project {
    width: calc(20% - 20px);
    margin-bottom: 20px;
}

.project img {
    max-width: 100%;
}

.project a {
    color: #ff0000;
    text-decoration: none;
    transition: color 0.3s;
}

.project a:hover {
    color: #ffffff;
}

footer {
    padding: 1em;
    width: 100%;
    background-color: #1a1a1a;
    text-align: left;
    border-top: 2px solid #ff0000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: border-glitch 10s ease-in-out infinite alternate;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #ffffff;
    animation: neon 1.5s ease-in-out infinite alternate;
}

.social-links li {
    margin-right: 1em;
}

.social-links img {
    width: 24px;
    height: 24px;
}

.social-links img:hover {
    filter: brightness(5000) saturate(0%);
}

.copyright {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    color: #ffffff;
    animation: neon 1.5s ease-in-out infinite alternate;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.9;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 2px 2px #ff0000, -2px -2px #ffffff, 0 0 5px #00ff00;
    }

    10% {
        text-shadow: 2px 2px #ff0000, -2px -2px #ffffff, 0 0 5px #00ff00;
    }

    20% {
        text-shadow: -2px -2px #ff0000, 2px 2px #ffffff, 0 0 5px #00ff00;
    }

    30% {
        text-shadow: 2px -2px #ff0000, -2px 2px #ffffff, 0 0 5px #00ff00;
    }

    40% {
        text-shadow: -2px 2px #ff0000, 2px -2px #ffffff, 0 0 5px #00ff00;
    }

    50% {
        text-shadow: 2px 2px #ff0000, -2px -2px #ffffff, 0 0 5px #00ff00;
    }

    60% {
        text-shadow: 2px 2px #ff0000, -2px -2px #ffffff, 0 0 5px #00ff00;
    }

    70% {
        text-shadow: -2px -2px #ff0000, 2px 2px #ffffff, 0 0 5px #00ff00;
    }

    80% {
        text-shadow: 2px -2px #ff0000, -2px 2px #ffffff, 0 0 5px #00ff00;
    }

    90% {
        text-shadow: -2px 2px #ff0000, 2px -2px #ffffff, 0 0 5px #00ff00;
    }

    100% {
        text-shadow: 2px 2px #ff0000, -2px -2px #ffffff, 0 0 5px #00ff00;
    }
}

@keyframes border-glitch {
    0% {
        border-color: #ff0000;
    }
    10% {
        border-color: #ffffff;
    }
    20% {
        border-color: #ff0000;
    }
    30% {
        border-color: #ffffff;
    }
    40% {
        border-color: #ff0000;
    }
    50% {
        border-color: #ffffff;
    }
    60% {
        border-color: #ff0000;
    }
    70% {
        border-color: #ffffff;
    }
    80% {
        border-color: #ff0000;
    }
    90% {
        border-color: #ffffff;
    }
    100% {
        border-color: #ff0000;
    }
}

h1 {
    text-shadow: 0 0 5px #000000, 0 0 20px #000000, 0 0 30px #000000;
    animation: glitch 10s ease-in-out infinite alternate;
}

@keyframes neon {
    0%, 100% {
        text-shadow: 
            0 0 5px #ff0000, 
            0 0 10px #ff0000, 
            0 0 20px #ff0000, 
            0 0 40px #ff0000, 
            0 0 80px #ff0000, 
            0 0 90px #ff0000, 
            0 0 100px #ff0000, 
            0 0 150px #ff0000;
    }
    50% {
        text-shadow: 
            0 0 2px #ff0000, 
            0 0 5px #ff0000, 
            0 0 10px #ff0000, 
            0 0 20px #ff0000, 
            0 0 40px #ff0000, 
            0 0 50px #ff0000, 
            0 0 75px #ff0000, 
            0 0 100px #ff0000;
    }
}

.text-white {
    color: #ffffff; /* Neon blue */
    animation: neon 1.5s ease-in-out infinite alternate;
}
